/*----------------------------------/
#ADMIN CSS PAGE
/----------------------------------*/

.header-admin {
    display: flex;
    color: #fff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.header-admin h2 {
    margin-left: 50px;
}

.admin-menu {
    margin-right: 50px;
}

.admin-menu i {
    font-size: 1.5rem;
}

.admin-section {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 25% auto;
}

.first-bloc nav {
    display: flex;
    height: 100vh;
    padding-top: 30px;
    flex-direction: column;
    background-color: #141b1fda;
    box-shadow: 0px 1px 10px #ececec;
}

.first-bloc nav a {
    display: flex;
    gap: 10px;
    padding-left: 25px;
    -webkit-column-gap: 10px;
}