/*----------------------------------/
#ADMIN CSS PAGE
/----------------------------------*/

.header-admin {
    display: flex;
    color: #fff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.header-admin h2 {
    margin-left: 50px;
}

.admin-menu {
    margin-right: 50px;
}

.admin-menu i {
    font-size: 1.5rem;
}

.admin-section {
    display: grid;
    margin-top: 80px;
    grid-template-columns: 25% auto;
}

.first-bloc nav {
    display: flex;
    flex-direction: column;
}