/*----------------------------------/
#ADMIN CSS PAGE
/----------------------------------*/

.header-admin {
    display: flex;
    color: #fff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.header-admin h2 {
    margin-left: 50px;
}

.admin-menu {
    margin-right: 50px;
}

.admin-menu i {
    font-size: 1.5rem;
}

.admin-section {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 20% auto;
}


/* ------------------------- /
#
/ ------------------------- */

.first-bloc nav {
    display: flex;
    height: 90vh;
    padding-top: 30px;
    gap: 10px;
    flex-direction: column;
    background-color: #141b1fda;
    box-shadow: 0px 1px 10px #ececec;
}

.first-bloc nav a {
    display: flex;
    gap: 10px;
    color: #fff;
    padding: 10px 25px;
    align-items: center;
    -webkit-column-gap: 10px;
    transition-delay: 0.2s;
    transition: 0.5s ease-in-out;
}

.first-bloc nav a:hover {
    color: #141b1fda;
    background-color: #fff;
}

.first-bloc nav .activ {
    color: #141b1fda;
    background-color: #fff;
}


/* ------------------------- /
#
/ ------------------------- */

.all-items {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}