/*----------------------------------/
#ADMIN CSS PAGE
/----------------------------------*/

.header-admin {
    display: flex;
    color: #fff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

.header-admin h2 {
    margin-left: 50px;
}

.admin-menu {
    display: none;
    margin-right: 50px;
}

.admin-menu i {
    font-size: 1.5rem;
}

.admin-section {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 20% auto;
}


/* ------------------------- /
#
/ ------------------------- */

.first-bloc nav {
    display: flex;
    height: 90vh;
    padding-top: 30px;
    gap: 10px;
    flex-direction: column;
    background-color: #141b1fda;
    box-shadow: 0px 1px 10px #ececec;
}

.first-bloc nav a {
    display: flex;
    gap: 10px;
    color: #fff;
    padding: 10px 25px;
    align-items: center;
    -webkit-column-gap: 10px;
    transition-delay: 0.2s;
    transition: 0.5s ease-in-out;
}

.first-bloc nav a:hover {
    color: #141b1fda;
    background-color: #fff;
}

.first-bloc nav .activ {
    color: #141b1fda;
    background-color: #fff;
}


/* ------------------------- /
#
/ ------------------------- */

.all-items {
    height: 90vh;
}

.it {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    -webkit-column-gap: 30px;
}

.it div {
    width: 250px;
    height: 200px;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition-delay: 0.2s;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 10px #ececec;
}

.it div:hover {
    color: #fff;
    background-color: #141b1fda;
}