.product-home {
    width: 100%;
    height: 60vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #141b1fda 0%, #cecece94 100%), url(../images/bg-1.jpg) no-repeat center;
    background-size: cover;
}

.product-home h3 {
    font-size: 30px;
    margin-bottom: 10px;
}