/*-----------------------------------/
#Product page
/-----------------------------------*/

.product-home {
    width: 100%;
    height: 60vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #141b1fda 0%, #cecece94 100%), url(../images/bg-1.jpg) no-repeat center;
    background-size: cover;
}

.product-home h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-type {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}

.prod-type-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.product-type .prod-type-item {
    width: 90%;
}

.big-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.product-type .prod-type-item div {
    width: 100%;
    gap: 7px;
    display: grid;
    -webkit-column-gap: 7px;
    grid-template-columns: auto auto auto auto;
}

.small-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}