/*-----------------------------------/
#Product page
/-----------------------------------*/

.pro-home {
    width: 100%;
    height: 60vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #141b1fda 0%, #cecece94 100%), url(../images/bg-1.jpg) no-repeat center;
    background-size: cover;
}

.pro-home h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-type {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
}

.prod-type-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

.product-type .prod-type-item {
    width: 90%;
}

.big-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.product-type .prod-type-item div {
    width: 100%;
    gap: 7px;
    display: grid;
    -webkit-column-gap: 7px;
    grid-template-columns: auto auto auto auto;
}

.small-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.cart {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.cart select {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 20px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 1px 10px #00000017;
}

.dropdown-btn {
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    color: #000;
    font-size: 0.8rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 10px #00000017;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 2px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

.dropdown-content label {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.custom-dropdown:hover .dropdown-content {
    display: block;
}

.cart a {
    color: #fff;
    padding: 10px 15px;
    display: flex;
    font-size: 0.8rem;
    width: fit-content;
    border-radius: 20px;
    background-color: #141b1fda;
}


/*-----------------------------------/
#Shoes details page
/-----------------------------------*/

.shoes-details {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 40px;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    -webkit-column-gap: 40px;
    grid-template-columns: 50% auto;
    background: radial-gradient(circle closest-side at center, rgb(178, 183, 188) 10%, rgba(245, 245, 245, 0.8) 70%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.shoes-image .big-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


/*-----------------------------------/
#Categories
/-----------------------------------*/

.categories-home {
    width: 100%;
    height: 60vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #141b1fda 0%, #cecece94 100%), url(../images/bg-2.jpg) no-repeat left;
    background-size: cover;
}

.categories-home h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.categories {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.categories h3 {
    color: #fff;
    padding: 10px 15px;
    width: fit-content;
    font-weight: 600;
    background-color: #141b1fda;
}

.categorie-images {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.categorie-images img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    background-color: #ebebeb9c;
}

.all-categories {
    margin-top: 30px;
    position: relative;
}

.all-categories i {
    font-size: 18px;
    padding: 10px 15px;
    color: #ffff;
    border-radius: 50%;
    position: absolute;
    font-weight: 700;
    background-color: #141b1fda;
    cursor: pointer;
}

.bi-chevron-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bi-chevron-right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}