/* Reset */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}


/* Body */

body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background: hsla(201, 17%, 29%, 0.863);
}

header .header-content {
    display: flex;
    gap: 5px;
    padding-left: 80px;
    padding-right: 100px;
    align-items: center;
    -webkit-column-gap: 5px;
    justify-content: space-between;
}

.header-content .logo img {
    width: 5rem;
}

.header-content .list {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.header-content .list a {
    color: #ffff;
}


/* Home page */

.home-section {
    width: 100%;
    height: 100vh;
}

.home-images {
    z-index: 1;
    position: relative;
}

.home-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: hsla(201, 17%, 29%, 0.863);
}

.home-images .home-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.circle-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10%;
    z-index: 200;
    -webkit-column-gap: 10px;
}

.circle-btn .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #dde1e7;
}

.circle-btn .circle.active {
    background-color: #000;
    border: 1px solid #000;
}