/* Reset */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}


/* Body */

body {
    font-size: 1rem;
    font-family: "Arvo", serif;
}


/* Header */

header {
    background-color: #fff;
    box-shadow: 0px 1px 10px #e5e4e4ca;
}

header .header-content {
    display: flex;
    gap: 5px;
    padding-left: 80px;
    padding-right: 100px;
    align-items: center;
    -webkit-column-gap: 5px;
    justify-content: space-between;
}

.header-content .logo img {
    width: 5rem;
}

.header-content .list {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.header-content .list a {
    color: #000;
}


/* Home page */

.circle-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.circle-btn .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #dde1e7;
}

.circle-btn .circle.active {
    background-color: #000;
    border: 1px solid #000;
}