/* Reset */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}


/* Body */

body {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: #141b1fda;
}

header .header-content {
    display: flex;
    gap: 5px;
    padding-left: 80px;
    padding-right: 100px;
    align-items: center;
    -webkit-column-gap: 5px;
    justify-content: space-between;
}

.header-content .logo img {
    width: 4rem;
}

.header-content .list {
    display: flex;
    align-items: center;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.header-content .list a {
    color: #ffff;
    font-size: 15px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
}

.header-content .list a:hover {
    color: #827e59da;
}

.header-content .list .home {
    border-radius: 2px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
    border-bottom: 1px solid #fff;
}

.header-content .list .home:hover {
    color: #827e59da;
    border-bottom: 1px solid #827e59da;
}

.header-content .list .panier {
    font-size: 22px;
}


/* Home page */

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-text {
    z-index: 10;
    width: 70%;
    color: #fff;
    text-align: center;
}

.home-text h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #827e59da;
}

.home-text a {
    display: flex;
    margin: auto;
    color: #fff;
    margin-top: 15px;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 25px;
    transition-delay: 0.4s;
    transition: 0.4s ease-in-out;
    background-color: #827e59da;
}

.home-text a:hover {
    border: 1px solid #e5e5e550;
    background-color: #141b1fda;
}

.home-images {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: #141b1fda;
}

.home-images .home-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.circle-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 10%;
    z-index: 200;
    -webkit-column-gap: 10px;
}

.circle-btn .circle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #dde1e7;
}

.circle-btn .circle.active {
    background: #827e59da;
    border: 1px solid #827e59da;
}


/* About us */

.about {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.title div {
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-column-gap: 8px;
}

.title div h4 {
    font-size: 14px;
    color: #cecece94;
    font-style: italic;
}

.title div p {
    padding: 1px;
    width: 5%;
    background-color: #cecece94;
}

.title h2 {
    font-size: 25px;
    color: #aca356da;
    text-transform: uppercase;
}

.about .about-content {
    display: grid;
    gap: 10px;
    align-items: center;
    -webkit-column-gap: 10px;
    grid-template-columns: 50% auto;
}

.about .about-image img {
    width: 100%;
    max-width: 1000px;
}

.about .about-content .about-text i {
    color: #aca356da;
}


/* Why to choose us */

.choose-us {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.choose-us .title h2 {
    margin-bottom: 30px;
}

.choose-us-content {
    display: grid;
    gap: 15px;
    -webkit-column-gap: 15px;
    grid-template-columns: auto auto;
}

.choose-us-item {
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    transition-delay: 0.4s;
    transition: 0.8s ease-in-out;
    -webkit-column-gap: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.0901960784);
}

.choose-us-item:hover {
    color: #fff;
    background-color: #141b1fda;
}

.choose-us-item:hover i {
    background: unset;
    box-shadow: unset;
    border: 1px solid #fff;
}

.choose-us-item div h4 {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}

.choose-us-item i {
    padding: 10px 15px;
    height: fit-content;
    border-radius: 35px;
    background: #ffffff;
    box-shadow: inset 13px 13px 26px #e3e3e3, inset -13px -13px 26px #ffffff;
}


/* Our products */

.product {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}


/*---------------------------------------/
#Newsletter
/---------------------------------------*/

.newsletter {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: space-between;
    background: linear-gradient(to right, #141b1fda 0%, #dde1e78b 100%), url(../images/newsletter.jpg) fixed top;
    background-size: cover;
}

.newsletter .newstext {
    color: #fff;
}

.newsletter .newstext h3 {
    color: #aca356da;
    margin-bottom: 10px;
}

.newsletter input,
button {
    border: none;
    outline: none;
    background: unset;
    font-family: "Poppins", sans-serif;
}

.newsletter .news-input {
    padding-left: 15px;
    background-color: #fff;
}

.newsletter .news-input button {
    padding: 15px 25px;
    color: #fff;
    background-color: #141b1fda;
}


/*---------------------------------------/
#Contacts
/---------------------------------------*/

.contact {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact .contact-info .info {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    -webkit-column-gap: 10px;
}

.contact .contact-info .info div {
    display: flex;
    flex-direction: column;
}

.contact .contact-info .info div a {
    color: #000;
    border-bottom: 1px solid #000;
}

.contact .contact-info .info i {
    padding: 10px 15px;
    border-radius: 50%;
    color: #827e59da;
    font-size: 1.2rem;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow: 28px 28px 53px #afafaf, -28px -28px 53px #ffffff;
}

.contact input,
textarea {
    outline: none;
    padding: 10px 15px;
    font-size: 0.8rem;
    width: 100%;
    border: 1px solid #cecece94;
    font-family: "Poppins", sans-serif;
}